*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:"Arial";
}
#container{
    width: 100%;
    /* height: 800px; */
    /* border: 1px solid red; */
}
#header1{
    width: 100%;
    height: 30px;
    /* border: 1px solid #333; */
    position: relative;
}
#header1  i{
    line-height: 30px;
}
.app{
    width: 200px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
}
#header2{
    width: 100%;
    height: 48px;
    background-color: rgb(171, 36, 36);
    position: relative;
    margin: auto;
}
#header2 ul{
    list-style-type: none;
    position: absolute;
    top: 0;
    margin-left: 200px;
}
#header2 ul li{
    float: left;
    padding: 15px 45px ;
    /* background-color: blue; */
    color: #fff;
    text-transform: uppercase;
}
a{
    color: black;
    font-weight: 700;
    text-decoration: none;
}
#header2 #tuvan{
    position: absolute;
    width: 200px;
    height: 30px;
    right: 20px;
    top:10px;
    background-color: #fff;
    font-weight: 900;
    line-height: 30px;
    text-align: center;
}
#header3{
    width: 100%;
    margin-top: 20px;
}