@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: whitesmoke;
    font-family: "Poppins";
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.intro{
    width: auto;
    height: 30% auto;
    background: #00b4d8;
    padding-top: 50px;
    padding-left: 80px;
    padding-bottom: 80px;
    padding-right: 400px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.card{
    display: flex;
    justify-content: space-around;
}

.card_1{
    margin-left: 50px;
    background: white;
    margin-top: 0;
    padding-left: 30px;
    height: 320px;
    width: 320px; 
    margin-top: -30px;
    padding-top: 40px;
}

.card_1_icon{
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
}

.card_1_title{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card_1_intro{
    font-size: 12px;
}
